<app-cart-prompt
class="prompt"
*ngIf="promptedProduct"
[product]="promptedProduct"
(closeEvent)="closePrompt()"
[@inOutAnimation]>
</app-cart-prompt>

<mat-spinner *ngIf="!tiles && !noResults"></mat-spinner>

<div *ngIf="tiles || noResults">
<form (ngSubmit)="searchButtonClick()">
  <mat-form-field class="search">
    <mat-label>Szukaj produktu</mat-label>
    <input matInput name="searchPhrase" [(ngModel)]="searchPhrase">
  </mat-form-field>
  <button mat-icon-button type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>
</div>

<div *ngIf="noResults">

<h1>Szukany produkt nie został znaleziony :(</h1>

</div>

<div *ngIf="tiles">
<mat-grid-list [cols]="breakpoint" rowHeight="200px" (window:resize)="onResize($event)" gutterSize="10px">
    <mat-grid-tile
    *ngFor="let tile of tiles">
    <a [routerLink]="['/product', getDecodedUri(tile.name), tile._id]">
      <img src='/api/images/{{tile.image_url}}' height="200px">
    </a>
    <mat-grid-tile-footer>
        <span><a [routerLink]="['/product', getDecodedUri(tile.name), tile._id]">{{tile.name}}</a></span>
        <span class="spacer"></span>
        <span>{{tile.price}} zł</span>
        <button mat-icon-button (click)="addToCart(tile)" class="addToCart">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>

<div class = "centerer">
<div class="pageTurnButtons">
  <button mat-button color=primary disableRipple (click)="turnPage(-1)"><</button>
    <mat-form-field>
        <input
        matInput
        type="number"
        placeholder="/{{allPages}}"
        [value]="page"
        (change)="turnToDesiredPage($event)">
    </mat-form-field>
  <button mat-button color=primary disableRipple (click)="turnPage(1)">></button>
</div>
</div>
</div>
