.image {
    float: left;
    margin-right: 10px;
}

.book-visit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: inline-block;
    text-align: center;
}

.circle {
    background: lightblue;
    border-radius: 50%;
    border: green 2px solid;
    width: 51px;
    height: 51px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 17px;
}

.non-active {
    background: grey;
    border: grey 2px solid;
}

.non-active:hover {
    cursor: default !important;
}

.isPressed {
    background: green !important;
}

.circle_inner {
    height: 1rem;
}

.circle:hover {
    cursor: pointer;
}

.dateChangeArrow {
    margin: 0 10px;
}