<button
mat-raised-button
color="primary"
(click)="navigate('/admin/products')">
  Zarządzaj produktami
</button><br>

<button
mat-raised-button
color="primary"
(click)="navigate('/admin/products/new')">
  Dodaj nowy produkt
</button><br>

<button
mat-raised-button
color="primary"
(click)="navigate('/admin/tags')">
  Zarządzaj tagami
</button><br>

<button
mat-raised-button
color="primary"
(click)="navigate('/admin/reservations')">
  Zarządzaj rezerwacjami
</button><br>

<button
mat-raised-button
color="primary"
(click)="navigate('/admin/orders')">
  Zarządzaj zamówieniami
</button><br>

<button
mat-raised-button
color="primary"
(click)="navigate('/admin/users')">
  Znajdź użytkownika
</button><br>

<button
mat-raised-button
color="warn"
(click)="navigate('/logout')">
  Wyloguj
</button><br>
