<div class="body">

    <div class="exit"><span class="xButton" (click)="exitPrompt()">[X]</span></div>
    <div class="container">
        <h2>Dodano do koszyka 1 produkt!</h2>
        <table><tr>
        <td><img src={{product.image_url}} ></td>
        <td>
            <p><a [routerLink]="['/product', getDecodedUri(product.name), product._id]">
                 {{product.name}}
            </a></p>
            <p>{{product.price}} zł</p>
        </td>
        </tr></table>
    </div>
    <div class="btn"><button mat-raised-button color=primary
        (click)="this.router.navigate(['/cart'])">
        Przejdź do koszyka
    </button></div>

</div>