.product{
    padding: 5px;
    height: 150px; 
    margin: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.image {
    float: left;
    width: 150px;
    height: 100%;
}

.detailsContainer{
    height: 100%; 
    display: flex;
}

h3{
    display: inline;
}

.spacer{
    flex: 1 1 auto;
}

.price{
    text-align: right;
    padding: 5px;
    background-color: olivedrab;
    font-weight: bold;
}


table{
    width: 100%;
    height: 100%;
}

.trash ::ng-deep .mat-icon{
    height:20px !important;
    width:20px !important;
    font-size:20px !important;
}

.title{
    float: left;
}

td, tr{
    width: 100%;
}

.trash{
    vertical-align: top;
    float: right;
    width: min-content;
}

.sum{
    float: right;
    margin: 10px;
}