<h1>Koszyk</h1>

<mat-spinner *ngIf="!isLoaded"></mat-spinner>

<div *ngIf="isLoaded">

    <h2 *ngIf="cart.length == 0">Twój koszyk jest pusty!</h2>

    <div class="container" *ngIf="cart.length > 0">

        <div class="product"
        *ngFor="let cartElement of cart">
            <div class="image" *ngIf="!(isHandset$ | async)"><img src="{{cartElement.product.imageURL}}"></div>
            <div class="detailsContainer">
                <table>
                    <tr><td>
                        <div class="title"><h3>{{cartElement.product.name}}</h3></div></td>
                        <td rowspan="2" class="trash">
                            <button mat-icon-button 
                            class="trash"
                            (click)="removeElementFromCart(cartElement.product._id)">
                            <mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                    <tr><td>
                        <button mat-icon-button
                        (click)="increaseNumItem(cartElement, -1)"><mat-icon>remove</mat-icon></button>
                        <h3>{{cartElement.quantity}}</h3>
                        <button mat-icon-button 
                        (click)="increaseNumItem(cartElement, 1)"><mat-icon>add</mat-icon></button>
                    </td></tr>
                    <tr><td colspan="2" class="price">
                        {{cartElement.product.price}} zł
                    </td></tr>
                </table>
            <div style="clear: both;"></div>
        </div>
        </div>

        <div class="sum"><h3>Razem: <b>{{summedPrice}} zł</b></h3></div>
        <div style="clear: both;"></div>
        <div class="sum"><button mat-raised-button color="primary">Złóż zamówienie</button></div>
        <div style="clear: both;"></div>

</div>
