<h1>Zmiana hasła</h1>

<form (submit)="changePassword()">
  <div style="text-align: center; width:40vw">
    <mat-form-field style="width:100%">
      <mat-label>Aktualne hasło</mat-label>
      <input matInput type="password" name="currentPassword" [(ngModel)]="currentPassword">
    </mat-form-field><br>
    <mat-form-field style="width:100%">
        <mat-label>Nowe hasło</mat-label>
        <input matInput type="password" name="newPassword" [(ngModel)]="newPassword">
    </mat-form-field><br>
    <mat-form-field style="width:100%">
        <mat-label>Potwierdź hasło</mat-label>
        <input matInput type="password" name="cNewPassword" [(ngModel)]="cNewPassword">
    </mat-form-field><br>
    <button mat-button type="submit" id="submit" color="warn">
        Zmień hasło
    </button>
    <div style="clear: both;"></div>
  </div>

</form>
