mat-form-field{
  margin: 2%;
}

.big{
  width: 40%;
}

.small{
  width: 18%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
