<form (ngSubmit)="saveProduct()">
  <div style="text-align: center;">
    <mat-form-field class="big">
      <mat-label>Nazwa</mat-label>
      <input matInput name="name" [(ngModel)]="name">
    </mat-form-field><br>
    <mat-form-field class="small">
        <mat-label>Ilość</mat-label>
        <input matInput type="number" name="quantity" [(ngModel)]="surname">
      </mat-form-field>
    <mat-form-field class="small">
        <mat-label>Cena</mat-label>
        <input matInput type="number" name="price" [(ngModel)]="street">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Tagi</mat-label>
      <mat-select [formControl]="tags" multiple>
        <mat-option *ngFor="let tag of availableTags" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="small">
      <mat-label>Nowe tagi</mat-label>
      <input matInput name="newTags" [(ngModel)]="newTags">
    </mat-form-field><br>

      <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" [disabled]="disabled" [accept]="accept" color="primary">
          <mat-icon ngxMatFileInputIcon>folder</mat-icon>
        </ngx-mat-file-input>
      </mat-form-field>

      <div class="title">Selected file:</div>
      <div class="value">
        <img [src]="file?.files">
      </div>

    </div>

    <button mat-raised-button type="submit">Dodaj nowy produkt</button>
    </form>
